.agbContainer {
  margin-top: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 1.2rem;
  flex-direction: column;
}
.agbContainer .updatedDate {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 10px;
  text-align: center;
}
.agbContainer .agbHeading {
  font-size: 71px;
  font-weight: 400;
  line-height: 75.04px;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.agbContainer .textContainer {
  max-width: 726px;
  width: 100%;
}
.agbContainer .textContainer .languageButton {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 7px 13px;
  border-radius: 5px;
  border: #e3e3e3 1px solid;
  margin-top: 70px;
  cursor: pointer;
}
.agbContainer .textContainer .languageButton .language {
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.agbContainer .textContainer .languageButton.langButtonPrivacy {
  margin-bottom: 28px;
}
.agbContainer .textContainer .languageButton.langButtonElse {
  margin-bottom: 50px;
}
.agbContainer .textContainer .introductionTextBlock {
  margin-bottom: 70px;
}
.agbContainer .textContainer .introductionTextBlock .introductionText {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.agbContainer .textContainer .agbTextBlockContainer {
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock.agbLastChildBlock {
  margin-bottom: 100px;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock.agbTextBlockFirstChild {
  margin-top: 50px;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock .agbParagraph {
  font-size: 27px;
  font-weight: 400;
  line-height: 40.14px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-bottom: 28px;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock .agbText {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock .agbText .blueLink {
  text-decoration: none;
  color: #0071e3;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock .agbText.mb {
  margin-bottom: 35px;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock .agbText span {
  font-weight: 600;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock .agbText .originSpan {
  font-weight: 400;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock .agbText .userDataList {
  position: relative;
  left: 20px;
}
.agbContainer .textContainer .agbTextBlockContainer .agbTextBlock .agbText .userDataList .userDataListSecondChild {
  position: relative;
  left: 20px;
}

.agb22 {
  margin-bottom: 82px;
}

@media only screen and (max-width: 676px) {
  .agbContainer .agbHeading {
    font-size: 9.2vw;
    line-height: 1;
  }
  .agbContainer .textContainer .languageButton {
    margin-top: 32px;
  }
}/*# sourceMappingURL=AGB.css.map */